<nav class="navbar">
	<div class="container">
		<ul class="navbar-list">
			<li class="navbar-item"><a class="navbar-link" href="/">Голосования</a></li>
			<li class="navbar-item"><a class="navbar-link" href="#">Регламент</a></li>
			<li class="navbar-item"><a class="navbar-link" href="#">Статистика</a></li>
			<li class="navbar-item"><a class="navbar-link" href="#">Архив</a></li>
		</ul>
		{% if page.user.is_auth == true %}
			{# авторизован #}
		{% endif %}
	</div>
</nav>