<center>
	<span>Текущая версия: 1.01</span><br/>
	<a class="button btn-mini" href="#">Скачать из blockchain</a>
</center>
<h4 class="text-center"><strong>Регламент голосований</strong></h4>

<h5 class="text-center">Основые пункты разработки</h5>
<ol>
	<li>Опора на Салютемию</li>
	<li>Позиционирование голосований (какие голосования можно считать таковыми)</li>
	<li>Форма голосования</li>
	<li>Добработка, составление формальностей</li>
</ol>

<h5 class="text-center">Виды голосований и их предназначение</h5>
<ul>
	<li><b>Специальное</b>:  голосование по вопросам структуры власти и законов. Участники: <u>только граждане</u>.</li>
	<li><b>Общее</b>: голосование по вопросам общего государственного характера не связанное с изменением структуры власти и законов. Участники: <u>только резиденты и граждане</u>.</li>
</ul>

<h5 class="text-center">Регламент</h5>
<p>Голосование будет опубликовано на официальном сервисе метаполиса Фриленд для голосований, только если соотвествует критерям обозначенным ниже:</p>

<ol>
	<li>Голосование должно соотвествовать регламенту голосований, а так же не должно нарушать законы фриленда.</li>
	<li>Голосование должно быть создано только по вопросам, связанным с метаполисом Фриленд и не может влиять частные сервисы внутри\вне проекта.</li>
	<li>Голосование должно содержать следующую информацию:
		<ul>
			<li>3.1. Вид голосования.</li>
			<li>3.2. Цель создания голосования и объяснение необходимость того или иного предлажения об изменении и\или реализации чего-либо.</li>
			<li>3.3. Непосредственно описание вопроса, связанным и предложением об измениии и\или реализации чего-либо. Вопрос должен соотвествовать критерию 4.</li>
			<li>3.4. Должно содержать информацию об исполнителе, если таковой необходим.</li>
			<li>3.5. Остальные пункты предложенные для заполнения в действующем на данный момент 	сервисе для голосований должны быть заполнены подобающим образом. (картинка vote 2.0)</li>
		 </ul>
	</li>
	<li>Формулировка голосования должна соответствовать вариантам выбора.</li>
	<li>Голосующий автоматически становится отвественным за поиск исполнителя, если таковой необходим. Голосование станет активным лишь после того, как исполнитель подтвердит, что готов заняться реализацией предложений в голосовании.</li>
	<li>Голосование не должно копировать другие активные голосования в момент публикации и\или не должно быть создано по аналогичному активному голосованию. (Раскрыть нужно и сократить раскрытую формулировку)</li>
	<li>Голосование не должно влиять на активные голосования.</li>
</ol>

<div class="alert-info">Голосование не будет опубликовано на сервисе метаполиса Фриленд для голосований, если не соответствует хотя бы одному критерию публикации голосования.</div>

<h6 class="text-center">Пример голосования</h6>

<ul>
<li><b>Вид голосования:</b> общее.</li>
<li><b>Описание проблемы:</b> голосование создано с целью  изменить цветовую палитру главного сайта проекта. Необходимость - более приятное восприятие глазами интерфейса сайта.</li>
<li><b>Описание метода решения:</b> для работы над цветовой палитрой предлагаю назначить дизайнера - <code>"лицо для работы"</code>, который согласился для работы над сайтом. Он изменит цветовую палитру.</li>
<li><b>Варианты:</b>	
	<ul>
		<li>за;</li>
		<li>против.</li>
	</ul>
</li>
</ul>

<p class="text-right">Авторы: VettyNG, Sagleft</p><br/>
