<!DOCTYPE html>
<html lang="ru">
	{% include 'parts/head.tmpl' %}
	<body>
		{# mdiv #}
		<div class="container">
			{% include 'parts/navbar.tmpl' %}
			<div class="row">
				<div class="one-half column" style="margin-top: 25%">
					<h4>Freeland Vote 2.0</h4>
					<p>Платформа для голосований в рамках проекта Freeland.</p>
					
					<a class="button button-primary" href="#">Войти</a>
					<a class="button" href="https://github.com/Sagleft/vote2.0">Github</a>
				</div>
			</div>
		  </div>
		</div>
		{# mdiv #}
	</body>
</html>
