{# отображение страницы модуля #}
{# обертка #}
<!DOCTYPE html>
<html lang="ru">
	{% include 'parts/head.tmpl' %}
	<body>
		{# mdiv #}
		<div class="container">
			{% include 'parts/navbar.tmpl' %}
			<div class="row"><br/>
				{% include 'modules/'~page.module.name~'/'~page.module.room~'.tmpl' %}
			</div>
			{% include 'parts/footer.tmpl' %}
		  </div>
		</div>
		{# mdiv #}
	</body>
</html>
